* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  border: 1px solid white;
  width: 500px;
  height: 500px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
